@model List<Cachorro>

@{
    ViewData["Title"] = "Raças de Cachorro";
}

<h1>Raças de Cachorro</h1>

<mensagem texto="@TempData["msg"]" class="alert alert-danger"></mensagem>

<a asp-action="Cadastrar" class="btn btn-sm btn-outline-danger">Cadastrar Nova Raça</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Origem</th>
            <th>Tamanho</th>
            <th>Grupo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cachorro in Model)
        {
            <tr>
                <td>@cachorro.Nome</td>
                <td>@cachorro.Origem</td>
                <td>@cachorro.Tamanho</td>
                <td>@cachorro.Grupo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@cachorro.CachorroId" class="btn btn-sm btn-outline-primary">Editar</a>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@cachorro.CachorroId">Remover</button>
                </td>
            </tr>
        }
    </tbody>
</table>